@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }


  body {
    background-color: #fffdf7 ;
  }

p {
      font-family: Libre Baskerville, serif;
      font-size: 16px;
      color: #1c1c1c;
    }

p.date.blog {
      font-family: Arial;
      margin-bottom: 20px;
      color: #8e8e8e;
}

h1 {
      font-family: Libre Baskerville, serif;
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 10px;
    }
h2 {
      font-family: Libre Baskerville, serif;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;

      }
    
  
  

