@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Reenie+Beanie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important
  }
  h1.blog.title {
    font-family: Libre Baskerville, serif;
        font-size: 28px;
        font-weight: 800;
        margin-top: 30px;
        margin-bottom: 20px;
  }
    p.date.blog {
          font-family: Arial;
          margin-bottom: 20px;
          color: #8e8e8e;
    }
    p.dont.panic {
      font-family: "Reenie Beanie";
      text-align: center;
      font-size: 24px;
    }
    blockquote {
      text-align: center;
      font-style: italic;
    }

    p {
      font-family: Libre Baskerville, serif;
      font-size: 16px;
      margin-bottom: 20px;
    }

@layer components {
  article {

  p {
        font-family: Libre Baskerville, sans-serif;
        font-size: 16px;
        margin-bottom: 20px;
      }
  
  h1 {
        font-family: Libre Baskerville, sans-serif;
        font-size: 24px;
        font-weight: 800;
        margin-top: 30px;
        margin-bottom: 20px;
      }

  }
  h2 {
        font-family: Libre Baskerville, sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
  
        }
   h2 {
          font-family: Libre Baskerville, sans-serif;
          font-size: 20px;
          font-weight: 800;
          margin-bottom: 20px;
    
          }
    h3 {
      font-family: Libre Baskerville, sans-serif;
          font-size: 20px;
          font-weight: 800;
          margin-top: 30px;
          margin-bottom: 10px;
    
    }

    em {
      text-align: center;
    }
  code {
    font-family: monospace;
    font-size: 16px;
  }
  
 
    :not(pre) > code {
      @apply whitespace-nowrap rounded border bg-zinc-200/50 px-1 py-0.5 font-mono text-sm font-medium text-black dark:border-zinc-700 dark:bg-zinc-800/50 dark:text-white;
    }
    pre:has(code) {
      @apply my-4 max-h-[600px] overflow-auto rounded-lg border p-4 font-mono text-sm font-medium dark:border-zinc-700;
    }
    img {

    }
    video {
      @apply my-4 rounded-lg border dark:border-zinc-700;
    }
    a {
      
    }
    table {
      @apply my-4 w-full table-auto border-collapse text-sm;
      th {
        @apply border-b p-4 text-left font-medium dark:border-zinc-700;
      }
      td {
        @apply border-b bg-zinc-50 p-4 dark:border-zinc-700 dark:bg-zinc-800;
      }
    }

    kbd {
      @apply rounded border border-b-2 bg-zinc-100 px-1 py-0.5 font-mono text-xs font-medium text-black dark:border-zinc-700 dark:bg-zinc-800 dark:text-white;
    }
    mark {
      @apply dark:bg-yellow-500/50 dark:text-white;
    }
    ol {
      list-style: numbered;
      font-family: Libre Baskerville, sans-serif;
      margin-bottom: 20px;
      list-style-position: inside;
      text-indent: 0px;
      margin-left: 10px;
      padding-left: 10px;
      line-height: 30px;
      opacity: 80%;
    }
  }
